body {
    background-color: #000;
    color: #8D99AE;
}

a {
    color: #9B1C29;
    text-decoration: none;
}
a:visited {
    color: #5e1119;
}

#banner {
    background: url("vector_logo.svg");
    width: 100%;
    min-height: 256px;
    background-repeat: no-repeat;
    background-position: center center, center top;
}

p {
    padding: 64px;
    text-align: center;
    font-family: "Anonymous Pro", monospace;
    font-size: 32px;
}